<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<form>
		<br><p>Litecoin:</p><br><select name=LTC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Dogecoin:</p><br><select name=DOGE><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Vertcoin:</p><br><select name=VTC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Peercoin:</p><br><select name=PPC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Feathercoin:</p><br><select name=FTC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ReddCoin:</p><br><select name=RDD><option value=true>active order</option><option value=false>order not active</option>
		<br><p>NXT:</p><br><select name=NXT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Dash:</p><br><select name=DASH><option value=true>active order</option><option value=false>order not active</option>
		<br><p>PotCoin:</p><br><select name=POT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BlackCoin:</p><br><select name=BLK><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Einsteinium:</p><br><select name=EMC2><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>MyriadCoin:</p><br><select name=MYR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>AuroraCoin:</p><br><select name=AUR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>UltraCoin:</p><br><select name=UTC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MazaCoin:</p><br><select name=MZC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ElectronicGulden:</p><br><select name=EFL><option value=true>active order</option><option value=false>order not active</		option<br>>
		<br><p>SolarCoin:</p><br><select name=SLR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>PesetaCoin :</p><br><select name=PTC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GroestlCoin:</p><br><select name=GRS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Gulden:</p><br><select name=NLG><option value=true>active order</option><option value=false>order not active</option>
		<br><p>RubyCoin:</p><br><select name=RBY><option value=true>active order</option><option value=false>order not active</option>
		<br><p>WhiteCoin:</p><br><select name=XWC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MonaCoin:</p><br><select name=MONA><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitStarCoin:</p><br><select name=BITS><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>OrangeCoin:</p><br><select name=OC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>HempCoin:</p><br><select name=THC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>EnergyCoin:</p><br><select name=ENRG><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SaffronCoin:</p><br><select name=SFR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>EuropeCoin:</p><br><select name=ERC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>NautilusCoin:</p><br><select name=NAUT><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>VeriCoin:</p><br><select name=VRC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>CureCoin:</p><br><select name=CURE><option value=true>active order</option><option value=false>order not active</option>
		<br><p>UroCoin:</p><br><select name=URO><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BlakeCoin:</p><br><select name=BLC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>XCurrency:</p><br><select name=XC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Dirac:</p><br><select name=XDQ><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Boolberry:</p><br><select name=BBR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Hyper:</p><br><select name=HYPER><option value=true>active order</option><option value=false>order not active</option>
		<br><p>CannaCoin:</p><br><select name=CCN><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Monero:</p><br><select name=XMR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>CloakCoin:</p><br><select name=CLOAK><option value=true>active order</option><option value=false>order not active</option>
		<br><p>CryptCoin:</p><br><select name=CRYPT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>StartCoin:</p><br><select name=START><option value=true>active order</option><option value=false>order not active</option>
		<br><p>KoreCoin:</p><br><select name=KORE><option value=true>active order</option><option value=false>order not active</option>
		<br><p>DigitalNote:</p><br><select name=XDN><option value=true>active order</option><option value=false>order not active</option>
		<br><p>TruckCoin:</p><br><select name=TRK><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Quatloo:</p><br><select name=QTL><option value=true>active order</option><option value=false>order not active</option>
		<br><p>TrustPlus:</p><br><select name=TRUST><option value=true>active order</option><option value=false>order not active</option>
		<br><p>NavajoCoin:</p><br><select name=NAV><option value=true>active order</option><option value=false>order not active</option>
		<br><p>StealthCoin:</p><br><select name=XST><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ApexCoin:</p><br><select name=APEX><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitcoinDark:</p><br><select name=BTCD><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>ViaCoin :</p><br><select name=VIA><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Triangles:</p><br><select name=TRI><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Unobtanium:</p><br><select name=UNO><option value=true>active order</option><option value=false>order not active</option>
		<br><p>PinkCoin:</p><br><select name=PINK><option value=true>active order</option><option value=false>order not active</option>
		<br><p>I/OCoin:</p><br><select name=IOC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ShadowCash:</p><br><select name=SDC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MaxCoin:</p><br><select name=MAX><option value=true>active order</option><option value=false>order not active</option>
		<br><p>LibrexCoin:</p><br><select name=LXC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>DobbsCoin:</p><br><select name=BOB><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MultiWalletCoin:</p><br><select name=MWC><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>CannabisCoin:</p><br><select name=CANN><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>Fuel2Coin:</p><br><select name=FC2><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SonicCoin:</p><br><select name=SSD><option value=true>active order</option><option value=false>order not active</option>
		<br><p>JoinCoin:</p><br><select name=J><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SysCoin:</p><br><select name=SYS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>NeosCoin:</p><br><select name=NEOS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Digibyte:</p><br><select name=DGB><option value=true>active order</option><option value=false>order not active</option>
		<br><p>RootCoin:</p><br><select name=ROOT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Fibre:</p><br><select name=FIBRE><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Jumbucks:</p><br><select name=JBS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>TitCoin:</p><br><select name=TIT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GlobalBoost-Y:</p><br><select name=BSTY><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>BURSTCoin:</p><br><select name=BURST><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Prime-XI:</p><br><select name=PXI><option value=true>active order</option><option value=false>order not active</option>
		<br><p>DigitalCoin:</p><br><select name=DGC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Sterlingcoin:</p><br><select name=SLG><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>RosCoin:</p><br><select name=ROS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SativaCoin:</p><br><select name=STV><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ExclusiveCoin:</p><br><select name=EXCL><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>BitSwift:</p><br><select name=SWIFT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ArchCoin:</p><br><select name=ARCH><option value=true>active order</option><option value=false>order not active</option>
		<br><p>NetCoin:</p><br><select name=NET><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GAIACoin:</p><br><select name=GAIA><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GamerholicCoin:</p><br><select name=GHC><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>MaryJaneCoin:</p><br><select name=MARYJ><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>DopeCoin:</p><br><select name=DOPE><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SembroToken:</p><br><select name=SMBR><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>BlockNet:</p><br><select name=BLOCK><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ArtByte:</p><br><select name=ABY><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Quicksilver:</p><br><select name=QSLV><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>ViorCoin:</p><br><select name=VIOR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Bytecent:</p><br><select name=BYC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>UFOCoin:</p><br><select name=UFO><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Magi:</p><br><select name=XMG><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Quotient:</p><br><select name=XQN><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Blitz:</p><br><select name=BLITZ><option value=true>active order</option><option value=false>order not active</option>
		<br><p>VPNCoin:</p><br><select name=VPN><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitBay:</p><br><select name=BAY><option value=true>active order</option><option value=false>order not active</option>
		<br><p>DayTraderCoin:</p><br><select name=DTC><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>BitShares:</p><br><select name=BTS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>AeroME:</p><br><select name=AM><option value=true>active order</option><option value=false>order not active</option>
		<br><p>FairCoin:</p><br><select name=FAIR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MetalCoin:</p><br><select name=METAL><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SpreadCoin:</p><br><select name=SPR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>vTorrent:</p><br><select name=VTR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Paycoin:</p><br><select name=XPY><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Sapience:</p><br><select name=XAI><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Ripple:</p><br><select name=XRP><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GameCredits:</p><br><select name=GMC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitCredits:</p><br><select name=BCR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GoldPieces:</p><br><select name=GP><option value=true>active order</option><option value=false>order not active</option>
		<br><p>RibbitRewards:</p><br><select name=RBR><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>FriendshipCoin2:</p><br><select name=FSC2><option value=true>active order</option><option value=false>order not active</		option<br>>
		<br><p>Nexus:</p><br><select name=NIRO><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SoonCoin:</p><br><select name=SOON><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Counterparty:</p><br><select name=XCP><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>StorjCoinX:</p><br><select name=SJCX><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitBean:</p><br><select name=BITB><option value=true>active order</option><option value=false>order not active</option>
		<br><p>TileCoin:</p><br><select name=XTC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Horizon:</p><br><select name=HZ><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GeoCoin:</p><br><select name=GEO><option value=true>active order</option><option value=false>order not active</option>
		<br><p>FoldingCoin:</p><br><select name=FLDC><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>WildBeastBitcoin:</p><br><select name=WBB><option value=true>active order</option><option value=false>order not active</		option<br>>
		<br><p>Gemz:</p><br><select name=GEMZ><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GridCoin:</p><br><select name=GRC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>X-Coin:</p><br><select name=XCO><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MasterTraderCoin:</p><br><select name=MTR><option value=true>active order</option><option value=false>order not active</		option<br>>
		<br><p>Florin:</p><br><select name=FLO><option value=true>active order</option><option value=false>order not active</option>
		<br><p>UCoin:</p><br><select name=U><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Nubits:</p><br><select name=NBT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MonetaryUnit:</p><br><select name=MUE><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>NewEconomyMovement:</p><br><select name=XEM><option value=true>active order</option><option value=false>order not active</		<br>option>
		<br><p>VanillaCoin:</p><br><select name=VNL><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Positron:</p><br><select name=TRON><option value=true>active order</option><option value=false>order not active</option>
		<br><p>8bit:</p><br><select name=8BIT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>CLAMs:</p><br><select name=CLAM><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitSeeds:</p><br><select name=XSEED><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Neutron:</p><br><select name=NTRN><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Sling:</p><br><select name=SLING><option value=true>active order</option><option value=false>order not active</option>
		<br><p>IvugeoCoin:</p><br><select name=IEC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Diamond:</p><br><select name=DMD><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Gambit:</p><br><select name=GAM><option value=true>active order</option><option value=false>order not active</option>
		<br><p>UniversalCurrency:</p><br><select name=UNIT><option value=true>active order</option><option value=false>order not active</		<br>option>
		<br><p>Grantcoin:</p><br><select name=GRT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Viral:</p><br><select name=VIRAL><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Sphere:</p><br><select name=SPHR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ArbitCoin:</p><br><select name=ARB><option value=true>active order</option><option value=false>order not active</option>
		<br><p>OkCash:</p><br><select name=OK><option value=true>active order</option><option value=false>order not active</option>
		<br><p>AudioCoin:</p><br><select name=ADC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Synergy:</p><br><select name=SNRG><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ParkByte:</p><br><select name=PKB><option value=true>active order</option><option value=false>order not active</option>
		<br><p>TeslaCoin:</p><br><select name=TES><option value=true>active order</option><option value=false>order not active</option>
		<br><p>CryptoCircuits:</p><br><select name=CIRC><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>Diggits:</p><br><select name=DIGS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>CapriCoin:</p><br><select name=CPC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Bitz:</p><br><select name=BITZ><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Aeon:</p><br><select name=AEON><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Ethereum:</p><br><select name=ETH><option value=true>active order</option><option value=false>order not active</option>
		<br><p>GlobalCurrencyReserve:</p><br><select name=GCR><option value=true>active order</option><option value=false>order not 		active</option>
		<br><p>TransferCoin:</p><br><select name=TX><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Shift:</p><br><select name=SHF><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitCrystals:</p><br><select name=BCY><option value=true>active order</option><option value=false>order not active</option>
		<br><p>PrimeChain:</p><br><select name=PRIME><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>Expanse:</p><br><select name=EXP><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Neucoin:</p><br><select name=NEU><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SwingCoin:</p><br><select name=SWING><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MapCoin:</p><br><select name=MAPC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>InfluxCoin:</p><br><select name=INFX><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SOILcoin:</p><br><select name=SOIL><option value=true>active order</option><option value=false>order not active</option>
		<br><p>OMNI:</p><br><select name=OMNI><option value=true>active order</option><option value=false>order not active</option>
		<br><p>AMP:</p><br><select name=AMP><option value=true>active order</option><option value=false>order not active</option>
		<br><p>AgorasToken:</p><br><select name=AGRS><option value=true>active order</option><option value=false>order not active</option		>
		<br><p>Sprouts:</p><br><select name=SPRTS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>YBCoin:</p><br><select name=YBC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Lumen:</p><br><select name=XLM><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Bata:</p><br><select name=BTA><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MegaCoin:</p><br><select name=MEC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>DigiCube:</p><br><select name=CUBE><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitStone:</p><br><select name=BST><option value=true>active order</option><option value=false>order not active</option>
		<br><p>AmsterdamCoin:</p><br><select name=AMS><option value=true>active order</option><option value=false>order not active</		option>
		<br><p>Bitcoin:</p><br><select name=BTC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Bitcoin:</p><br><select name=BTC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SecretCoin:</p><br><select name=SCRT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ScotCoin:</p><br><select name=SCOT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>ClubCoin:</p><br><select name=CLUB><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Bantam:</p><br><select name=BNT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Voxels:</p><br><select name=VOX><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MindCoin:</p><br><select name=MND><option value=true>active order</option><option value=false>order not active</option>
		<br><p>EmerCoin:</p><br><select name=EMC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Factom:</p><br><select name=FCT><option value=true>active order</option><option value=false>order not active</option>
		<br><p>MaidSafe:</p><br><select name=MAID><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Franko:</p><br><select name=FRK><option value=true>active order</option><option value=false>order not active</option>
		<br><p>EvergreenCoin:</p><br><select name=EGC><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SaluS:</p><br><select name=SLS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>BitHire:</p><br><select name=HIRE><option value=true>active order</option><option value=false>order not active</option>
		<br><p>OrbitCoin:</p><br><select name=ORB><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Steps:</p><br><select name=STEPS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Radium:</p><br><select name=RADS><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Decred:</p><br><select name=DCR><option value=true>active order</option><option value=false>order not active</option>
		<br><p>SafeExchangeCoin:</p><br><select name=SEC><option value=true>active order</option><option value=false>order not active</option><br>
		<br><p>BitSend:</p><br><select name=BSD><option value=true>active order</option><option value=false>order not active</option>
		<br><p>Verge:</p><br><select name=XVG><option value=true>active order</option><option value=false>order not active</option><br>
	</form>
</body>
</html>