<!DOCTYPE html>
<html>
<head>

	<!-- Load css -->
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<title></title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="balance">Balance</a></li>
				<li><a href="select_market">Make order</a></li>
				<li><a href="active">Coin running</a></li>
				<li><a href="order">Order settings</a></li>
				<!--<li><a href="">Software settings</a></li>-->
			</ul>
		</nav>	
	</header>
	<section>
		
	</section>
	<footer>
		
	</footer>
</body>
</html>