<html>
	<head>

		<!-- Load css -->
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="balance">Balance</a></li>
				<li><a href="select_market">Make order</a></li>
				<li><a href="active">Coin running</a></li>
				<li><a href="order">Order settings</a></li>
				<!--<li><a href="">Software settings</a></li>-->
			</ul>
		</nav>	
	</header>
		<div>
			<form action="/get_request" method="post">
				<select name="cointag">
					<option value=LTC>Litecoin</option>
					<option value=DOGE>Dogecoin</option>
					<option value=VTC>Vertcoin</option>
					<option value=PPC>Peercoin</option>
					<option value=FTC>Feathercoin</option>
					<option value=RDD>ReddCoin</option>
					<option value=NXT>NXT</option>
					<option value=DASH>Dash</option>
					<option value=POT>PotCoin</option>
					<option value=BLK>BlackCoin</option>
					<option value=EMC2>Einsteinium</option>
					<option value=MYR>MyriadCoin</option>
					<option value=AUR>AuroraCoin</option>
					<option value=UTC>UltraCoin</option>
					<option value=MZC>MazaCoin</option>
					<option value=EFL>ElectronicGulden</option>
					<option value=SLR>SolarCoin</option>
					<option value=PTC>PesetaCoin </option>
					<option value=GRS>GroestlCoin</option>
					<option value=NLG>Gulden</option>
					<option value=RBY>RubyCoin</option>
					<option value=XWC>WhiteCoin</option>
					<option value=MONA>MonaCoin</option>
					<option value=BITS>BitStarCoin</option>
					<option value=OC>OrangeCoin</option>
					<option value=THC>HempCoin</option>
					<option value=ENRG>EnergyCoin</option>
					<option value=SFR>SaffronCoin</option>
					<option value=ERC>EuropeCoin</option>
					<option value=NAUT>NautilusCoin</option>
					<option value=VRC>VeriCoin</option>
					<option value=CURE>CureCoin</option>
					<option value=URO>UroCoin</option>
					<option value=BLC>BlakeCoin</option>
					<option value=XC>XCurrency</option>
					<option value=XDQ>Dirac</option>
					<option value=BBR>Boolberry</option>
					<option value=HYPER>Hyper</option>
					<option value=CCN>CannaCoin</option>
					<option value=XMR>Monero</option>
					<option value=CLOAK>CloakCoin</option>
					<option value=LIMX>LimeCoinX</option>
					<option value=CRYPT>CryptCoin</option>
					<option value=START>StartCoin</option>
					<option value=KORE>KoreCoin</option>
					<option value=XDN>DigitalNote</option>
					<option value=TRK>TruckCoin</option>
					<option value=QTL>Quatloo</option>
					<option value=TRUST>TrustPlus</option>
					<option value=NAV>NavajoCoin</option>
					<option value=XST>StealthCoin</option>
					<option value=APEX>ApexCoin</option>
					<option value=BTCD>BitcoinDark</option>
					<option value=VIA>ViaCoin </option>
					<option value=TRI>Triangles</option>
					<option value=UNO>Unobtanium</option>
					<option value=PINK>PinkCoin</option>
					<option value=IOC>I/OCoin</option>
					<option value=SDC>ShadowCash</option>
					<option value=MAX>MaxCoin</option>
					<option value=LXC>LibrexCoin</option>
					<option value=BOB>DobbsCoin</option>
					<option value=MWC>MultiWalletCoin</option>
					<option value=CANN>CannabisCoin</option>
					<option value=FC2>Fuel2Coin</option>
					<option value=SSD>SonicCoin</option>
					<option value=J>JoinCoin</option>
					<option value=SYS>SysCoin</option>
					<option value=NEOS>NeosCoin</option>
					<option value=DGB>Digibyte</option>
					<option value=ROOT>RootCoin</option>
					<option value=FIBRE>Fibre</option>
					<option value=JBS>Jumbucks</option>
					<option value=TIT>TitCoin</option>
					<option value=BSTY>GlobalBoost-Y</option>
					<option value=BURST>BURSTCoin</option>
					<option value=PXI>Prime-XI</option>
					<option value=DGC>DigitalCoin</option>
					<option value=SLG>Sterlingcoin</option>
					<option value=ROS>RosCoin</option>
					<option value=STV>SativaCoin</option>
					<option value=EXCL>ExclusiveCoin</option>
					<option value=SWIFT>BitSwift</option>
					<option value=ARCH>ArchCoin</option>
					<option value=NET>NetCoin</option>
					<option value=GAIA>GAIACoin</option>
					<option value=GHC>GamerholicCoin</option>
					<option value=MARYJ>MaryJaneCoin</option>
					<option value=DOPE>DopeCoin</option>
					<option value=SMBR>SembroToken</option>
					<option value=BLOCK>BlockNet</option>
					<option value=ABY>ArtByte</option>
					<option value=QSLV>Quicksilver</option>
					<option value=VIOR>ViorCoin</option>
					<option value=BYC>Bytecent</option>
					<option value=UFO>UFOCoin</option>
					<option value=XMG>Magi</option>
					<option value=XQN>Quotient</option>
					<option value=BLITZ>Blitz</option>
					<option value=VPN>VPNCoin</option>
					<option value=BAY>BitBay</option>
					<option value=DTC>DayTraderCoin</option>
					<option value=BTS>BitShares</option>
					<option value=AM>AeroME</option>
					<option value=FAIR>FairCoin</option>
					<option value=METAL>MetalCoin</option>
					<option value=SPR>SpreadCoin</option>
					<option value=VTR>vTorrent</option>
					<option value=XPY>Paycoin</option>
					<option value=XAI>Sapience</option>
					<option value=XRP>Ripple</option>
					<option value=GMC>GameCredits</option>
					<option value=BCR>BitCredits</option>
					<option value=GP>GoldPieces</option>
					<option value=RBR>RibbitRewards</option>
					<option value=FSC2>FriendshipCoin2</option>
					<option value=NIRO>Nexus</option>
					<option value=SOON>SoonCoin</option>
					<option value=XCP>Counterparty</option>
					<option value=SJCX>StorjCoinX</option>
					<option value=BITB>BitBean</option>
					<option value=XTC>TileCoin</option>
					<option value=HZ>Horizon</option>
					<option value=DOGED>DogecoinDark</option>
					<option value=GEO>GeoCoin</option>
					<option value=FLDC>FoldingCoin</option>
					<option value=WBB>WildBeastBitcoin</option>
					<option value=GEMZ>Gemz</option>
					<option value=GRC>GridCoin</option>
					<option value=XCO>X-Coin</option>
					<option value=MTR>MasterTraderCoin</option>
					<option value=FLO>Florin</option>
					<option value=U>UCoin</option>
					<option value=NBT>Nubits</option>
					<option value=MUE>MonetaryUnit</option>
					<option value=XEM>NewEconomyMovement</option>
					<option value=VNL>VanillaCoin</option>
					<option value=TRON>Positron</option>
					<option value=8BIT>8bit</option>
					<option value=CLAM>CLAMs</option>
					<option value=XSEED>BitSeeds</option>
					<option value=NTRN>Neutron</option>
					<option value=SLING>Sling</option>
					<option value=IEC>IvugeoCoin</option>
					<option value=DMD>Diamond</option>
					<option value=GAM>Gambit</option>
					<option value=UNIT>UniversalCurrency</option>
					<option value=GRT>Grantcoin</option>
					<option value=VIRAL>Viral</option>
					<option value=SPHR>Sphere</option>
					<option value=ARB>ArbitCoin</option>
					<option value=OK>OkCash</option>
					<option value=ADC>AudioCoin</option>
					<option value=SNRG>Synergy</option>
					<option value=PKB>ParkByte</option>
					<option value=TES>TeslaCoin</option>
					<option value=CIRC>CryptoCircuits</option>
					<option value=DIGS>Diggits</option>
					<option value=CPC>CapriCoin</option>
					<option value=BITZ>Bitz</option>
					<option value=AEON>Aeon</option>
					<option value=ETH>Ethereum</option>
					<option value=GCR>GlobalCurrencyReserve</option>
					<option value=TX>TransferCoin</option>
					<option value=SHF>Shift</option>
					<option value=BCY>BitCrystals</option>
					<option value=PRIME>PrimeChain</option>
					<option value=EXP>Expanse</option>
					<option value=NEU>Neucoin</option>
					<option value=SWING>SwingCoin</option>
					<option value=MAPC>MapCoin</option>
					<option value=INFX>InfluxCoin</option>
					<option value=SOIL>SOILcoin</option>
					<option value=OMNI>OMNI</option>
					<option value=AMP>AMP</option>
					<option value=AGRS>AgorasToken</option>
					<option value=SPRTS>Sprouts</option>
					<option value=YBC>YBCoin</option>
					<option value=XLM>Lumen</option>
					<option value=BTA>Bata</option>
					<option value=MEC>MegaCoin</option>
					<option value=CUBE>DigiCube</option>
					<option value=BST>BitStone</option>
					<option value=AMS>AmsterdamCoin</option>
					<option value=BTC>Bitcoin</option>
					<option value=BTC>Bitcoin</option>
					<option value=SCRT>SecretCoin</option>
					<option value=SCOT>ScotCoin</option>
					<option value=CLUB>ClubCoin</option>
					<option value=BNT>Bantam</option>
					<option value=VOX>Voxels</option>
					<option value=MND>MindCoin</option>
					<option value=EMC>EmerCoin</option>
					<option value=FCT>Factom</option>
					<option value=MAID>MaidSafe</option>
					<option value=FRK>Franko</option>
					<option value=EGC>EvergreenCoin</option>
					<option value=SLS>SaluS</option>
					<option value=HIRE>BitHire</option>
					<option value=ORB>OrbitCoin</option>
					<option value=STEPS>Steps</option>
					<option value=RADS>Radium</option>
					<option value=DCR>Decred</option>
				</select>
				<input type="submit">
			</form>
		</div>
	</body>
</html>